*{
	-webkit-transition: box-shadow,color,background .2s linear
}
body {background:  -webkit-linear-gradient(top, #fff, #eaeef3 50%, #d3d7db);}
#title{
	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #2e5781;
	float: left;
	
}

.error{
	font: 15px  'Segoe UI', "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 10px;
	padding: 10px;
	min-width:300px;
	color: #AA0000;
}
div.HeaderLink{
	font: 9px 'Segoe UI', "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	color: #8888;
	margin:3px 0 3px 0;
	text-align:right;
}
a.HeaderLink{
	color: #888888;
	margin:3px;
	text-decoration:none;
}
a.HeaderLink:hover{
	color: #dd4444;
	text-decoration:underline;
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; height: 25px; width: 200px;}
.ui-menu-item a{color: #444444 !important;font-weight: normal !important;}
.ui-autocomplete {
		max-height: 150px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 20px;
}

#tabHeader li{
	position: relative;
}
#tabHeader li:not(.ui-tabs-selected) span.tabHeaderCounter{
	display:inline-block;
	background: rgba(46, 87, 129,.3); 
	color:black; 
	padding:.3em .5em;
	line-height: 16px;
}
#tabHeader li.ui-tabs-selected span.tabHeaderCounter{
	display:inline-block;
	background: rgba(255, 255, 255,.5); 
	color: black; 
	padding:.3em .5em;
	line-height: 16px;
}
#tabHeader li a span.tabHeaderContent{
	font-weight: normal;
	white-space: nowrap;
	padding-right: 5px;
	display: inline-block;
	text-shadow: #000 0px 0px 2px;
}
#tabHeader li:not(.ui-tabs-selected):not(.ui-sortable-helper) a span.tabHeaderContent{
	/*max-width: 50px !important;
	overflow: hidden;
	text-overflow: ellipsis;*/
	display: inline-block;
	text-shadow:  #fff 0px 0px 5px;
}
#tabHeader li:hover:not(.ui-tabs-selected) a span.tabHeaderContent{
	max-width: inherit !important;
	transition:max-width 1s ease-in;
}


span.table_button{
	text-decoration: underline;
	cursor: pointer;
}

